/actual/**
/build/**
/conf/**
/coverage/**
/docs/**
/fixtures/**
/jsdoc/**
/templates/**
/tests/actual/**
/tests/templates/**
/tests/bench/**
/test/fixtures.ts
/tests/performance/**
/tmp/**
/jest.config.ts
/src/generated/**
{
  "ignorePatterns": ["**/generated/*.ts"],
}
